<%= image_tag 'logo_nautico_v3.jpg' %>
<p>Náuticabarata, la tienda en linea con la mejor selección de equipo náutico.</p>
<h2>Direción de Envío</h2>
<address>
Nautica Barata<br/>
Apartado Postal 1000<br/>
Grand Cayman, Cayman Islands<br/>
</address>
