<p>
  Por favor introduce tu nueva contrase침a
  y presiona el bot칩n "Actualizar Contrase침a"
</p>

<%= form_tag :action => 'update' do %>
<%= password_field_tag :password %>
<%= submit_tag "Actualizar Contrase침a" %>
<% end %>
