(<FONT COLOR=red>*</FONT>) Campos obligatorios.
<% if @brand.errors.any? %>
<div id="errorExplanation">
  <h2> Los siguientes campos no pueden estar en blanco:</h2>
  <ul>
    <% @brand.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table class='brand-form'>
  <tr>
    <td>
      <label for="brand_name"><span>*</span>Nombre</label></td>
    <td><%= text_field 'brand', 'name' %></td>
  </tr>
  <tr>
   <td><label for="brand_cif"><span>*</span>CIF </label></td>
   <td><%= text_field 'brand', 'cif' %></td>
 </tr>
 <tr>
   <td><label for="brand_logo_url">Logo (url)</label></td>
   <td><%= text_field 'brand', 'logo_url' %></td>
 </tr>
</table>